/* Global CSS Style */
@charset "utf-8";
html {
    color: #000;
    background: #fff;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    /* font-size: 100px; */
}

body {
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
}

html,body {
    font-family: sans-serif
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    margin: 0;
    padding: 0
}

input,select,textarea {
    font-size: 100%
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

fieldset,img {
    border: 0
}

ol,ul {
    list-style: none
}

caption,th {
    text-align: left
}

h1,h2,h3,h4,h5,h6 {
    font-size: 100%;
    font-weight: 500
}

a,
a:hover {
    text-decoration: none
}

/* Animate.css | MIT | Daniel Eden
 */
 /*
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes zoomInUp {
  from {
    opacity: 0;
    transform: scale3d(.1, .1, .1) translate3d(0, 1000px, 0);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }

  60% {
    opacity: 1;
    transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
}

.zoomInUp {
  animation-name: zoomInUp;
}

.mr8 {
  margin-right: 8px;
}

.circle-loading {
    width: 16px;
    height: 16px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    border: #009b63 2px solid;
    animation: circle .5s infinite linear;
    position: relative;
}

@keyframes circle {
    0% {
        -webkit-transform: rotate(0deg)
    }
    50% {
        -webkit-transform: rotate(180deg)
    }
    100% {
        -webkit-transform: rotate(360deg)
    }
}
*/

.hide {
  display: none;
}

/* 固定导航栏区域 */
.fixed-bar-wrapper {
  position: fixed;
  bottom: 0;
  left: 50%;
  width: 100%;
  z-index: 1001;
  height: 3.43rem;
  background: #fff;
  transform: translateX(-50%);
  border-top: 1px solid #eee;
  box-shadow: 0 2px 5px 3px #eee;
}

.fixed-bar-inner {
  height: 100%;
  width: 100%;
}

.fill-size {
  width: 100%;
  height: 3.43rem;
  background: #69c7a5;
  display: inline-block;
  line-height: 3.43rem;
  text-align: center;
  color: #fff;
  position: relative;
}

.flex-box {
    /* 设为 Flex 布局以后 */
    /* 子元素的float、clear和vertical-align属性将失效 */
    display: -webkit-flex;
    display: flex;
    display: -webkit-box;
}

.flex-align-center {
  /* Flex Item两端对齐 */
  justify-content: space-between;
  align-items: center;
}

.flex-1 {
  flex: 1;
}

.bi-item {
  position: relative;
  min-height: 3rem;
  border-bottom: 1px solid #eee;
  margin: 0 1rem;
  font-size: 0.8rem;
}

.bi-item-label {
  color: #222;
}

.bi-item-extra {
  text-align: right;
}

/* ======== 辅助样式 ======== */
.is-important {
  color: #009b63;
}

.pl10 {
  padding-left: 0.625rem; /* 10 / 16 */
}

.rotate90 {
  transform: rotate(90deg)
}

.rotate-90 {
  transform: rotate(-90deg)
}

.rotate-180 {
  transform: rotate(-180deg)
}

.mr8 {
  margin-right: 8px;
}

.action-return {
  position: absolute;
  top: 0;
  left: 1rem;
  color: #fff;
}

/*
.omit {
  text-overflow:ellipsis;
  overflow: hidden;
}
*/

.page-title {
  position: fixed;
  width: 100%;
  /* 因为alertify的默认值的为1982 */
  z-index: 1981;
}

.page-content {
  padding-top: 2.4rem;
}


