<template>
  <div class="page-entry">
    <!-- 弹出窗口区 -->
    <div class="popup-container" ref="popupContainer">
      <div class="popup-header">
        <h1 class="popup-hd-title">条款说明</h1>
        <span class="popup-hd-close" @click="closePopup">
          <i class="iconfont icon-close"></i>
        </span>
      </div>
      <!-- 内容加载区域 -->
      <div class="popup-content" v-html="popupContent">
      </div>
    </div>

    <!-- Banner区 -->
    <div class="entry-banner">
      <img src="http://p33cojpjb.bkt.clouddn.com/accident-bg.jpg" alt="Banner">
    </div>

    <!-- 产品介绍 -->
    <section class="insurance-header-wrapper">
      <header>
        <h1 class="insurance-name">国寿财综合意外险</h1>
        <p class="insurance-description">价格亲民保障足,涵盖各种意外风险，65岁仍可投</p>
      </header>
    </section>

    <!-- 固定导航栏 -->
    <div class="fixed-bar-wrapper">
      <div class="fixed-bar-inner pl10 flex-box flex-align-center">
        <div class="premium-wrapper">
          <div class="circle-loading" v-show="initLoading"></div>
          <span class="premium-txt" v-if="!initLoading">保费: {{ premium }}元</span>
        </div>
        <div class="consultation-wrapper flex-1">
          <a class="fill-size" @click="navigateToConsult">
            <i class="iconfont icon-comments mr8"></i>咨询
          </a>
        </div>
        <!-- 立即投保 -->
        <div class="proposal-wrapper flex-1">
          <a
            class="fill-size"
            :class="{
              is__premiumSuccessful: !premiumSuccessful
            }" @click="navigateToHealthAnnouncement">立即投保</a>
        </div>
      </div>
    </div>

    <!-- 险别类型导航区 -->
    <nav>
      <ul class="insurance-type-navbar flex-box">
        <li
          class="it-item flex-1"
          v-for="(plan) in planList"
          :key="plan.planno"
        >
          <!-- 通过套餐类型来更改UI状态 -->
          <span
            @click="changePlanNo(plan.planno)"
            class="it-item-label"
            :class="(planno === plan.planno) ?
            'it-item-label__active' :
            ''
          ">{{ plan.name }}</span>
        </li>
      </ul>
    </nav>

    <!-- 基本信息输入区 -->
    <div class="base-info-wrapper">
      <!-- 被保人出生日期 -->
      <div class="bi-item flex-box flex-align-center"  @click="selectBirthday">
        <div class="bi-item-label flex-1">被保人出生日期:</div>
        <div class="bi-item-extra flex-1">
          <span
            class="date-txt is-important"
          >{{ birthday }}</span>
          <i class="iconfont icon-calendar"></i>
        </div>
      </div><!-- .bi-item -->

      <!-- 被保人年龄范围 -->
      <div class="bi-item flex-box flex-align-center">
        <div class="bi-item-label flex-1">被保人年龄范围:</div>
        <div class="bi-item-extra flex-1">
          <span class="age-txt is-important">10周岁-65周岁</span>
        </div>
      </div><!-- .bi-item -->

      <!-- 保障期限 -->
      <div class="bi-item flex-box flex-align-center">
        <div class="bi-item-label flex-1">保障期限:</div>
        <div class="bi-item-extra flex-1">
          <span class="deadline-txt is-important">1年</span>
        </div>
      </div><!-- .bi-item -->

      <div class="bi-item flex-box flex-align-center">
        <div class="bi-item-label flex-1 is-important fs2rem" v-if="!initLoading">{{ premium }}元</div>
        <div class="circle-loading" v-if="initLoading"></div>
        </div>
      </div><!-- .bi-item -->

      <!-- 权益保障/保额 -->
      <div class="equity-protection">
        <header class="bi-item flex-box flex-align-center">
          <h2><i class="iconfont icon-security mr8"></i>权益保障/保额</h2>
        </header>
      </div> <!-- equity-protection -->

      <!-- 中国人寿短期保险基本条款 -->
      <div class="bi-item flex-box flex-align-center" @click="showDescription('basic')">
        <div class="bi-item-label flex-1">中国人寿短期保险基本条款</div>
      </div><!-- .bi-item -->

      <!-- 国寿附加绿舟意外费用补偿医疗保险利益条款 -->
      <div class="bi-item flex-box flex-align-center" @click="showDescription('extra')">
        <div class="bi-item-label flex-1">国寿附加绿舟意外费用补偿医疗保险利益条款</div>
        <div class="bi-item-extra flex-1">
          <span
            class="date-txt is-important"
            ref="extra"
          ></span>
        </div>
      </div><!-- .bi-item -->

      <!-- 国寿绿舟意外伤害保险（2013版）利益条款 -->
      <div class="bi-item flex-box flex-align-center" @click="showDescription('ver2013')">
        <div class="bi-item-label flex-1">国寿绿舟意外伤害保险（2013版）利益条款</div>
      </div><!-- .bi-item -->

      <!-- 医院范围 -->
      <div class="bi-item flex-box flex-align-center" @click="showDescription('hospital')">
        <div class="bi-item-label flex-1">医院范围</div>
      </div><!-- .bi-item -->

      <!-- 保障额度 -->
      <div class="bi-item flex-box flex-align-center">
        <div class="bi-item-label flex-1">保障额度:</div>
        <div class="bi-item-extra flex-1">
          <span class="is-important">{{ getSumInsured }}万</span>
        </div>
      </div>

    </div>
  </div> <!-- page-entry -->
</template>

<script>
import {
  mapState
} from 'vuex'

import {
  queryRisk,
  requestBasic,
  requestExtra,
  requestVer2013
} from '@/api/index'

import updateInsuranceMoney from '@/js/util/updateInsuranceMoney'

import sumInsuredFactory from '@/js/util/sumInsured.factory'

import {
  SERVER_ERROR,
  QUERY_RISK_PREPEARE_INFO_ERROR
} from '@/js/const'

import notify from '@/js/util/notify'

import router from '@/router'

import Vue from 'vue'
import Vue2Datepick from 'vue2-datepick'
// 安装Datepick
Vue.use(Vue2Datepick)

// 是否为初次请求保费计算，获取投保预备信息不算
var init = false

export default {
  name: 'Entry',

  data () {
    return {
      initLoading: true,

      // 请求Ajax加载得条款内容
      popupContent: '条款说明加载中...',

      // Plan列表
      planList: [
        {
          name: '计划1',
          planno: 'LACP0001'
        },
        {
          name: '计划2',
          planno: 'LACP0002'
        },
        {
          name: '计划3',
          planno: 'LACP0003'
        }
      ]
    }
  },

  methods: {
    /**
     * 开启popup
     */
    openPopup () {
      let el = this.$refs['popupContainer']
      el.style.transform = 'translate3d(0, -500px, 0)'
    },

    /**
     * 关闭popup
     */
    closePopup () {
      let el = this.$refs['popupContainer']
      el.style.transform = 'translate3d(0, 0, 0)'
    },

    navigateToHealthAnnouncement () {
      if (!this.premiumSuccessful) {
        return false
      }
      router.push({
        path: 'healthAnnouncement'
      })
    },

    navigateToConsult () {
      notify('咨询功能添加中,敬请期待...')
      return false
    },

    changePlanNo (planno) {
      var self = this
      this.$store.commit('changePlanNo', planno)
      this.$store.dispatch('requestPremiumCal', {
        comp: self
      })

      // 更新保额显示
      updateInsuranceMoney(self.$refs, planno)
    },

    selectBirthday () {
      var self = this
      this.$store.dispatch('selectBirthday', {
        comp: self
      })
    },

    // 显示文字内容描述
    // [IIFE在ESlint中的设置](https://eslint.org/docs/rules/wrap-iife)
    showDescription: (function () {
      /**
       * 弹出内容(条款说明)缓存器
       */
      var popupContentCache = {
        // CALUSE_TYPE(条款类型): CALUSE_CONTENT(条款内容)
        hospital: '二级以上（含二级）医院'
      }
      // 条款内容加载策略
      var clauseStrategy = {
        basic: requestBasic,
        extra: requestExtra,
        ver2013: requestVer2013
      }

      return function () {
        // 通过方法传递过来的参数获取条款类型
        let clauseType = arguments[0]
        console.log(clauseType)

        let clauseContent = popupContentCache[clauseType]

        if (clauseContent) {
          this.popupContent = clauseContent
          this.openPopup()
        } else {
          clauseStrategy[clauseType]()
            .then((response) => {
              // 设置缓存并同步模型
              popupContentCache[clauseType] = this.popupContent = response.data
            })
            .then(() => {
              this.openPopup()
            })
            .catch(() => {
              notify('条款内容加载失败')
            })
        }
      }
    }.call(this))
  },

  computed: {
    ...mapState([
      'premiumSuccessful',
      'birthday',
      'planno',
      'premium', // 保费,
      'transactionid' // 业务id编号
    ]),

    // [Vue计算属性](https://cn.vuejs.org/v2/guide/computed.html)
    getSumInsured () {
      return sumInsuredFactory(this.planno)
    }

  },

  mounted () {
    // 存储当前组件实例
    var comp = this

    if (!init) {
      queryRisk()
      .then((response) => {
        console.log('@api获取投保预备信息...')

        var $response = response.data.response
        var $h = $response.head
        var $errcode = $h.errcode

        if ($errcode === '00000') {
          var d = $response.body.data
          var q = d.quotation

          // 触发selectBirthday mutation
          comp.$store.commit('selectBirthday', q.birthday)

          // 设置日历的最小时间
          comp.$store.commit('changeMinDate', `${d.min_birth_year}-${d.min_birth_month}-${d.min_birth_day}`)

          // 设置日历的最大时间
          comp.$store.commit('changeMaxDate', `${d.max_birth_year}-${d.max_birth_month}-${d.max_birth_day}`)

          comp.$store.commit('changeHealth', d.health)

          // comp.$store.commit('changeClientNft', d.client_nft)
          // 设置保费
          comp.$store.commit('changePremium', q.premium)

          // 设置起保日期
          comp.$store.commit('changeStartDate', q.start_date)

          // 设置终保日期
          comp.$store.commit('changeEndDate', q.end_date)

          // 更改套餐计划
          comp.$store.commit('changePlanNo', q.planno)

          // 更改业务逻辑编号
          comp.$store.commit('changeTransactionId', q.transactionid)

          comp.$store.commit('changePremiumSuccessful', true)

          updateInsuranceMoney(comp.$refs, q.planno)

          // 重设circle-loading状态
          comp.initLoading = false

          // 设置初次请求状态
          init = true
        } else {
          comp.$store.commit('changePremiumSuccessful', false)

          notify(QUERY_RISK_PREPEARE_INFO_ERROR)
          comp.initLoading = false
        }
      }).catch((err) => {
        notify(SERVER_ERROR)
        console.log(err)
        comp.initLoading = false
      })
    } else {
      // 避免组件生命周期重新执行导致状态不同步的问题
      comp.initLoading = false
      updateInsuranceMoney(comp.$refs, comp.planno)
    }
  }
}
</script>

<style>
.page-entry {
  padding-bottom: 6.86rem;
}

.entry-banner {
  width: 100%;
  min-height: 132px;
}

.entry-banner img {
  width: 100%;
  height: auto;
}

.insurance-header-wrapper {
  margin: 0 1rem;
  border-bottom: 1px solid #eee;
}

.insurance-name {
  color:#009b63;
  font-size: 2rem;
}

.insurance-description {
  font-size: 0.875rem; /* 14 / 16 */
  /* 缩进2个格 */
  text-indent: 2em;
  line-height: 1.714285; /* 24 / 14 */
  margin-bottom: 0.625rem; /* 10 / 16 */
  color: #999;
}
.equity-protection h2 {
  font-size: 16px;
}

/* =================
  用户信息输入区
 =================== */
.insurance-type-navbar {
  margin: 0 1rem;
  border-bottom: 1px solid #f0f0f0;
}

.it-item {
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    position: relative;
}

.it-item-label {
    display: block;
    height: 100%;
    width: 100%;
}

.it-item-label:after {
  position: absolute;
  /* 这个非常重要 */
  content: ' ';
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.125rem; /* 2px */
  background: #fff;
  transition: color, background .1s ease-in;
}

.it-item-label:hover:after,
.it-item-label__active:after{
  background: #009b63;
}

.bi-item__description {
  display: none;
}

.date-txt {
  -webkit-appearance: none;
  border: none;
  text-align: right;
}

.fs2rem {
  font-size: 2rem;
}

.equity-protection {
  margin-top: 1rem;
}

/* .description-list li {
  margin-top: 1rem;
} */

.bi-item__description p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.premium-wrapper {
  width: 120px;
}

.proposal-wrapper > a {
  background: #009b63;
}

.premium-txt {
  color: #009b63;
}

/* popup */
.popup-header {
  position: relative;
  background: black;
}

.popup-hd-title {
  padding: 15px 15px;
  color: #fff;
  display: inline-block;
  margin: 0;
}

.popup-hd-close {
  position: absolute;
  top: 15px;
  right: 15px;
  color: #009b63;
}

.popup-container {
  position: fixed;
  top: 100%;
  height: 500px;
  /* min-height: 500px;
  height: 80%; */
  overflow-y: auto;
  background: #fff;
  width: 100%;
  z-index: 1002;
  transform: translate3d(0, 100%, 0);
  transition: transform .2s ease-in-out;
}

.popup-content {
  padding: 20px 15px;
}

.is__premiumSuccessful {
  background: #3e3e3e!important;
  opacity: .1!important;
  color: hsla(54,86%,92%,.95)!important;
}
</style>
