<template>
  <div class="page-insurance-info">
    <div class="page-title pii-title">
      <h1>填写投保信息</h1>
      <router-link to="/" class="action-return">
        <i class="iconfont icon-home"></i>
      </router-link>
    </div>

    <div class="page-content">
    <!-- 投保人填写区域 -->
    <div class="insurer-info-wrapper">
      <div class="bi-item flex-box flex-align-center">
        <h2 class="pii-header-title">投保人信息</h2>
      </div>

      <!-- 投保人姓名 -->
      <div class="bi-item flex-box flex-align-center">
        <div class="bi-item-label flex-1">姓名:</div>
        <div class="bi-item-extra flex-1">
          <input
          class="is-important"
          placeholder="请输入真实姓名"
          v-model="applicant_name"
          ref="applicant_name"
          />
        </div>
      </div>

      <!-- 投保人身份证 -->
      <div class="bi-item flex-box flex-align-center">
        <div class="bi-item-label flex-1">身份证:</div>
        <div class="bi-item-extra flex-1">
          <input
            class="is-important"
            placeholder="请输入身份证号码"
            v-model="applicant_identity"
            ref="applicant_identity"
          />
        </div>
      </div>

      <!-- 投保人手机号码 -->
      <div class="bi-item flex-box flex-align-center">
        <div class="bi-item-label flex-1">手机号码:</div>
        <div class="bi-item-extra flex-1">
          <input
            class="is-important"
            placeholder="请输入手机号码"
            v-model="applicant_phone"
            ref="applicant_phone"
          />
        </div>
      </div>

      <!-- 投保人手机号码 -->
      <div class="bi-item flex-box flex-align-center">
        <div class="bi-item-label flex-1">电子邮箱:</div>
        <div class="bi-item-extra flex-1">
          <input
            class="is-important"
            placeholder="用于接收电子保单"
            v-model="applicant_email"
            ref="applicant_email"
          />
        </div>
      </div>
    </div>

    <!-- 被保人填写区域 -->
    <div class="assurer-info-wrapper">
      <div class="bi-item flex-box flex-align-center">
        <h2 class="pii-header-title">被保人信息</h2>
      </div>

      <!-- 两者关系 -->
      <div class="bi-item flex-box flex-align-center" @click="showRelationShipList">
        <div class="bi-item-label flex-1">关系:</div>
        <div class="bi-item-extra flex-1">
          <span class="is-important mr8">{{ relationship }}</span>
          <i class="iconfont icon-more" v-bind:class="{ 'rotate90': isOpenRelativeList, 'rotate-90': !isOpenRelativeList }"></i>
        </div>


        <!-- 两者关系列表 -->
        <ul
          class="pii-relationList animated"
          v-bind:class="{ 'bounceInRight': !isOpenRelativeList }"
          v-bind:style="{ 'visibility': isOpenRelativeList ? 'hidden' : 'visible' }"
          >
          <li
            v-for="item in releation"
            :key="item.relative"
            @click="relativeItemClick($event, item.relative, item.relationship)">
          {{ item.relationship }}
          </li>
        </ul>
      </div>

      <!-- 职业类别 -->
      <div class="bi-item flex-box flex-align-center">
        <div class="bi-item-label flex-1">职业:</div>
        <div class="bi-item-extra flex-1">
          <span class="mr8">{{ insured_profession_name }}</span>
          <router-link to="/queryJobClass" class="btn-queryjob">查询</router-link>
        </div>
      </div><!-- .bi-item -->

      <!-- 被保人姓名 -->
      <div class="bi-item flex-box flex-align-center" v-if="relative > 0">
        <div class="bi-item-label flex-1">姓名:</div>
        <div class="bi-item-extra flex-1">
          <input
            class="is-important"
            placeholder="请输入真实姓名"
            v-model="insured_name"
            ref="insured_name"
          />
        </div>
      </div>

      <!-- 被保人身份证 -->
      <div class="bi-item flex-box flex-align-center" v-if="relative > 0">
        <div class="bi-item-label flex-1">身份证:</div>
        <div class="bi-item-extra flex-1">
          <input
            class="is-important"
            placeholder="请输入身份证号码"
            v-model="insured_identity"
            ref="insured_identity"
          />
        </div>
      </div>
    </div>

    </div>

    <!-- 导航栏 -->
    <div class="fixed-bar-wrapper">
      <div class="fixed-bar-inner pl10 flex-box flex-align-center">
        <div class="flex-1">
          保费：<span class="is-important">{{ premium.toFixed(2) }} 元</span>
        </div>
        <div class="flex-1">
          <!-- 路由到客户告知书页面 -->
          <a class="fill-size submit-btn" @click="navigateToClientAnnouncementPage">
            <i class="iconfont icon-share mr8"></i>提交
          </a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {
  mapState
} from 'vuex'

import router from '@/router'

// 加载notify模块
import notify from '@/js/util/notify'

import {
  rChinese,
  rIdentity,
  rPhone,
  rEmail
} from '@/js/util/re'

import {
  APPLICANT_NAME_EMPTY_ERROR,
  APPLICANT_IDENTITY_EMPTY_ERROR,
  APPLICANT_EMAIL_EMPTY_ERROR,
  APPLICANT_PHONE_EMPTY_ERROR,

  INSURED_NAME_EMPTY_ERROR,
  INSURED_IDENTITY_EMPTY_ERROR,

  APPLICANT_NAME_ERROR,
  APPLICANT_IDENTITY_ERROR,
  APPLICANT_EMAIL_ERROR,
  APPLICANT_PHONE_ERROR,

  INSURED_NAME_ERROR,
  INSURED_IDENTITY_ERROR,

  NAME_LENGTH_LIMIT_ERROR,
  JOB_MISSING_ERROR
} from '@/js/const'

// // 关系列表打开状态
// let releationListOpenStatus = false

export default {
  name: 'InsuranceInfo',

  data () {
    return {
      // 默认为箭头向上
      isOpenRelativeList: true,

      releation: [
        { relative: '0', relationship: '本人' },
        { relative: '1', relationship: '配偶' },
        { relative: '2', relationship: '子女' },
        { relative: '3', relationship: '父母' }
      ]
    }
  },

  methods: {
    // @note
    // 表单输入项核心验证逻辑
    // 在`reject(validateStatus)`面前return,目的是尽可能少的执行逻辑
    // promise reject会触发Chrome开发者工具的调试功能
    verify () {
      var self = this
      let promise = new Promise((resolve, reject) => {
        let validateStatus = false
        let refs = self.$refs

        // Airbnb ESLint规范要求变量名为驼峰式
        let applicantName = refs.applicant_name.value

        if (applicantName === '') {
          notify(APPLICANT_NAME_EMPTY_ERROR)
          return reject(validateStatus)
        } else if (!rChinese.test(applicantName)) {
          if (applicantName.length < 2) {
            notify(NAME_LENGTH_LIMIT_ERROR)
          } else {
            notify(APPLICANT_NAME_ERROR)
          }
          return reject(validateStatus)
        }

        let applicantIdentity = refs.applicant_identity.value
        if (applicantIdentity === '') {
          notify(APPLICANT_IDENTITY_EMPTY_ERROR)
          return reject(validateStatus)
        } else if (!rIdentity.test(applicantIdentity)) {
          notify(APPLICANT_IDENTITY_ERROR)
          return reject(validateStatus)
        }

        let applicantPhone = refs.applicant_phone.value
        if (applicantPhone === '') {
          notify(APPLICANT_PHONE_EMPTY_ERROR)
          return reject(validateStatus)
        } else if (!rPhone.test(applicantPhone)) {
          notify(APPLICANT_PHONE_ERROR)
          return reject(validateStatus)
        }

        let applicantEmail = refs.applicant_email.value
        if (applicantEmail === '') {
          notify(APPLICANT_EMAIL_EMPTY_ERROR)
          return reject(validateStatus)
        } else if (!rEmail.test(applicantEmail)) {
          notify(APPLICANT_EMAIL_ERROR)
          return reject(validateStatus)
        }

        // 验证职业编号
        if (self.insured_profession === '') {
          notify(JOB_MISSING_ERROR)
          return reject(validateStatus)
        }

        // 被保人关系为非本人的验证逻辑
        if (self.relative !== '0') {
          let insuredName = refs.insured_name.value

          if (insuredName === '') {
            notify(INSURED_NAME_EMPTY_ERROR)
            return reject(validateStatus)
          } else if (!rChinese.test(insuredName)) {
            if (applicantName.length < 2) {
              notify(NAME_LENGTH_LIMIT_ERROR)
            } else {
              notify(INSURED_NAME_ERROR)
            }
            return reject(validateStatus)
          }

          let insuredIdentity = refs.insured_identity.value

          if (insuredIdentity === '') {
            notify(INSURED_IDENTITY_EMPTY_ERROR)
            return reject(validateStatus)
          } else if (!rIdentity.test(insuredIdentity)) {
            notify(INSURED_IDENTITY_ERROR)
            return reject(validateStatus)
          }
        }

        // 设置状态
        validateStatus = true

        resolve(validateStatus)
      })
      return promise
    },

    navigateToClientAnnouncementPage () {
      this.$nextTick(function () {
        // this自动绑定到当前实例
        this.verify()
          .then((validateStatus) => {
            console.log('校验状态:', validateStatus)

            // 只要校验状态正确才切换路由
            if (validateStatus) {
              // 路由操作
              router.push({
                path: '/clientAnnouncement'
              }) // End router push
            }
          }).catch((validateStatus) => {
            console.log('校验状态:', validateStatus)
          })
      })
    },

    // 关系item被触发时所执行的方法
    relativeItemClick ($event, relative, relationship) {
      var parentNode = $event.target.parentNode
      parentNode.classList.remove('bounceInRight')
      parentNode.style.visibility = 'hidden'

      this.isOpenRelativeList = false

      // 同步数据状态
      this.$store.commit('changeRelationship', relationship)
      this.$store.commit('changeRelative', relative)
    },

    showRelationShipList () {
      this.isOpenRelativeList = !this.isOpenRelativeList
    }

  },

  computed: {
    'applicant_name': {
      get () {
        return this.$store.state.applicant_name
      },
      set (value) {
        this.$store.commit('changeApplicantName', value)
      }
    },

    'applicant_identity': {
      get () {
        return this.$store.state.applicant_identity
      },
      set (value) {
        this.$store.commit('changeApplicantIdentity', value)
      }
    },

    'applicant_phone': {
      get () {
        return this.$store.state.applicant_phone
      },
      set (value) {
        this.$store.commit('changeApplicantPhone', value)
      }
    },

    'applicant_email': {
      get () {
        return this.$store.state.applicant_email
      },
      set (value) {
        this.$store.commit('changeApplicantEmail', value)
      }
    },

    'insured_name': {
      get () {
        return this.$store.state.insured_name
      },
      set (value) {
        this.$store.commit('changeInsuredName', value)
      }
    },

    'insured_identity': {
      get () {
        return this.$store.state.insured_identity
      },
      set (value) {
        this.$store.commit('changeInsuredIdentity', value)
      }
    },

    ...mapState([
      'insured_profession',
      'insured_profession_name',
      'relative',
      'relationship',
      'planno',
      'premium',
      'start_date',
      'end_date'
    ])
  }
}
</script>

<style>
.page-insurance-info {
  padding-bottom: 17.15rem;
}

.pii-title {
  height: 2.4rem;
  text-align: center;
  font-size: 1.2rem;
  background: #009b63;
  line-height: 2.4rem;
  color: #fff;
}

.submit-btn {
  background: #009b63;
}

.pii-header-title {
  font-weight: bold;
}

.page-insurance-info .bi-item-label {
  height: 3rem;
  line-height: 3rem;
}

.bi-item-extra input {
  -webkit-appearance: none;
  border: none;
  outline: 0;
  height: 3rem;
  line-height: 3rem;
  text-align: right;
}

.pii-relationList {
  visibility: hidden;
  position: absolute;
  right: 1rem;
  width: 50%;
  top: 101%;
  border: 1px solid #efefef;
  /* 底部导航栏为z-index值为1001 */
  z-index: 1002;
  /* display会引起页面重绘问题 */
  /* display: none; */
  box-shadow: 0 2px 5px 3px #d3dcd9;
}

.pii-relationList > li {
  height: 3rem;
  line-height: 3rem;
  text-indent: 1em;
  border-bottom: 1px solid #efefef;
  background: #fff;
}

.btn-queryjob {
  /* 以下样式可以抽离出来 */
  color: #009b63;
  border: 1px solid #009b63;
  padding: 0.2rem 0.5rem;
  background: #fff8f5;

  border-radius: 3px;
}
</style>

